src/LazyCatWcfService/LazyCatConsole/Connected Services/LazyCatServiceReference/LazyCatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LazyCatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41193/LazyCatService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41193/LazyCatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILazyCatService_SumWithAnonymousAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:SumWithAnonymousAuth" />
  </wsdl:message>
  <wsdl:message name="ILazyCatService_SumWithAnonymousAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumWithAnonymousAuthResponse" />
  </wsdl:message>
  <wsdl:message name="ILazyCatService_SumWithOMiauAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:SumWithOMiauAuth" />
  </wsdl:message>
  <wsdl:message name="ILazyCatService_SumWithOMiauAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumWithOMiauAuthResponse" />
  </wsdl:message>
  <wsdl:message name="ILazyCatService_GetOMiauToken_WithClientCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOMiauToken_WithClientCredentials" />
  </wsdl:message>
  <wsdl:message name="ILazyCatService_GetOMiauToken_WithClientCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOMiauToken_WithClientCredentialsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILazyCatService">
    <wsdl:operation name="SumWithAnonymousAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/ILazyCatService/SumWithAnonymousAuth" message="tns:ILazyCatService_SumWithAnonymousAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILazyCatService/SumWithAnonymousAuthResponse" message="tns:ILazyCatService_SumWithAnonymousAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumWithOMiauAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/ILazyCatService/SumWithOMiauAuth" message="tns:ILazyCatService_SumWithOMiauAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILazyCatService/SumWithOMiauAuthResponse" message="tns:ILazyCatService_SumWithOMiauAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOMiauToken_WithClientCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/ILazyCatService/GetOMiauToken_WithClientCredentials" message="tns:ILazyCatService_GetOMiauToken_WithClientCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILazyCatService/GetOMiauToken_WithClientCredentialsResponse" message="tns:ILazyCatService_GetOMiauToken_WithClientCredentials_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILazyCatService" type="tns:ILazyCatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SumWithAnonymousAuth">
      <soap:operation soapAction="http://tempuri.org/ILazyCatService/SumWithAnonymousAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumWithOMiauAuth">
      <soap:operation soapAction="http://tempuri.org/ILazyCatService/SumWithOMiauAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOMiauToken_WithClientCredentials">
      <soap:operation soapAction="http://tempuri.org/ILazyCatService/GetOMiauToken_WithClientCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LazyCatService">
    <wsdl:port name="BasicHttpBinding_ILazyCatService" binding="tns:BasicHttpBinding_ILazyCatService">
      <soap:address location="http://localhost:41193/LazyCatService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>