src/LazyCatWcfService/LazyCatConsole/Connected Services/LazyCatServiceReference/LazyCatService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SumWithAnonymousAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumWithAnonymousAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumWithAnonymousAuthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumWithOMiauAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumWithOMiauAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumWithOMiauAuthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOMiauToken_WithClientCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cat_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cat_secret" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOMiauToken_WithClientCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOMiauToken_WithClientCredentialsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>